---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Pomobingo | Home" description= "Revitalize your work breaks with Pomobingo! Create a custom bingo board filled with short, productive activities for your breaks and aim to complete full lines or challenge yourself with a blackout. Engage during your rest time, earn rewards, and make every break count!">
	<main>
	</main>
</Layout>
